body{
    margin: 0%;
    padding: 0%;
    font-size: '';
    background-color: rgb(220, 241, 241);
}

.container{
    height: 646px;
    width: 1321px;
    justify-items: center;
    color: rgb(250, 243, 243);
    background-color: rgb(28, 26, 26);
    display: flex;
}


button {
    color: rgb(252, 247, 247);
    background-color: red;
    height: 50px;
    width: 100px;
}
.player{
    display: grid;
    grid-template-columns: 2, 1fr;

}