html{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
    background-color: rgb(122, 127, 127);
    
}
.container {
    margin-top: 10px;
    margin-left: 4%;
    height: 556px;
    width: 1421px;
    justify-items: center;
    justify-content: space-around;
    color: rgb(250, 243, 243);
    background-color: rgb(37, 39, 41);
    display: flex;
    border-radius: 10px;
}
.about-container {
    background-color: rgb(40, 40, 42);
    display: flex;
    justify-content: left;
    height: 312px;
    width: 312px;
    margin-top: 10ex;
    border-radius: 2%;
    margin-left: 4%;

}


#unique {
    color: azure;
    margin-top: 50px;
    background-color: rgb(52, 53, 55);
    height: 50px;
    width: 100px;
    transform: scale(1);
    transition: width 1s;
}

#unique:hover {
    background-color: aliceblue;
    color: rgb(17, 17, 16);
    width: 150px;

}

img {
    height: 500px;
    width: 400px;
}



#new1 {
    color: #000;
    background-color: rgb(249, 255, 255);
    height: 50px;
    width: 300px;
    margin-top: 20%;
    margin-left: 5px;

}

#new2 {
    color: #000;
    background-color: rgb(249, 255, 255);
    height: 50px;
    width: 300px;
    margin-top: 10%;
    margin-left: 5px;
}

#new3 {
    color: white;
    background-color: rgb(97, 98, 109);
    height: 50px;
    width: 300px;
    margin-top: 10%;
    margin-left: 5px;

}
.img-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
}
.flag{
    display: flex;
    
}
.flag img{
    width: 180px;
    height: 180px;
    margin-left: 30px;
    margin-top: 10%;
}

footer{
    margin-top: 1100px;
    
    text-align: center;
    height: 300px;
    width: 1519px;
    color: aliceblue;
    background-color: rgb(47, 46, 46);
}
ul{
    color: rgb(173, 175, 177);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    font-size: 20px;

}
h2{
   
    font-size: 30px;
   
}
hr{
    margin-top: 5%;
    color: rgb(96, 103, 103);
    width: 1300px;
    transform: scale(1)
}
hr:hover{
    background-color: white;
    height: 1%;
}
@media only screen and(max-width:688px) and(max-width:992px){
    .container{
        background-color:rgb(173, 175, 175) ;
    }
    
}